
#request-form, #activity-text, #get-activity {
	display: flex;
	justify-content: center;
}

#get-activity {
	font-size: 16px;
	padding: 5px;
	margin: 5vh 0 0 0;
	transition: 0.5s;
}

#get-activity:hover {
	color: #0afa4e;
	cursor: pointer;
}

#activity-type {
  appearance: none;
  width: 175px;
}

#activity-text {
	font-size: 64px;
	margin: 15vh 0 15vh 0;
	cursor: pointer;
	transition: 0.5s;
}

#activity-text:hover {
	color: #0afa4e;
}

#type-label:hover, #price-label:hover, 
#access-label:hover, #party-label:hover {
	text-decoration-line: line-through;
	cursor: pointer;
}

.ignored-activity {
	text-decoration-line: line-through;
	opacity: 0.5;
}
