html {
	background: linear-gradient(to bottom, #ddf1fd, #b6d7eb);
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	
}

body > * {
	font-family: "Lucida Console", Arial;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #2e4154;
}

#requestContainer {
	display: flex;
	float: left;
}

.requestSubContainer {
	border: 3px solid #caddfd;
	background-color: #e7f0fe;
	border-radius: 20px;
	padding: 10px;
	margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.requestSubContainer > * {
	padding: 5px;
	margin: 0.5vh 0.5vw 0.5vh 0.5vw
}

#activityType {
  font-family: "Lucida Console", Arial;
  font-weight: bold;
  font-size: 16px;
  color: #2e4154;
  border-radius: 5px;
  background-color: #d2e5f7; 
  border: 1px solid #d2e5f7;
  appearance: none;
  transition: 0.5s;
  width: 175px;
}

#activityType:focus, #activityParty:focus {
	border: 1px solid grey;
}

#activityParty {
	font-family: "Lucida Console", Arial;
	font-weight: bold;
	font-size: 16px;
	background-color: #d2e5f7; 
	border: 1px solid #d2e5f7;
	border-radius: 5px;
	text-align: center;
	transition: 0.5s;
	outline: none;
	color: #2e4154;
}

#activityText {
	font-size: 64px;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

#requestForm, #activityText, #activityTable {
	display: flex;
	justify-content: center;
}

